@media only screen and(max-width: 700px){
   html, body{ background-color: #777;}
}
    

@media only screen and(max-width: 570px){
    html,body{ background-color: #7f7;}
}

@media only screen and(max-width: 480px){
    html,body{ background-color: #77f;}
}